:root {
    --header: 15rem;
    --footer: 35px;
    --main: calc(100vh - calc(var(--header) + var(--footer)));
}

body {
    background: linear-gradient(45deg, rgb(65, 115, 255), rgb(171, 197, 255));
}

header {
    width: 100%;
    height: var(--header);
    display: flex;
    justify-content: center;
}

#banner {
    margin-top: 40px;
    padding: 10px 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid black;
    background-color: white;
}

#title {
    font-size: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#title > h1{
    text-align: center;
}

#player-names {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 1.5rem;
    font-size: 2rem;
}

main {
    height: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid {
    border-radius: 15px;
    display: grid;
    gap: 8px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(3, 150px);
}

.cell {
    background: gold;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: block;
    position: fixed;
    z-index: 2;
    margin-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal>div {
    margin: 0 auto;
    width: 40%;
    margin: 1em;
    text-align: center;
    background-color: rgb;
}

#form-modal>form {
    display: flex;
    justify-content: center;
}

footer {
    width: 100vw;
    padding: 9.5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    background: black;
    opacity: 0.8;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    color: white;
}